*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: #fff;
  z-index: 99;
  user-select: none;
}

body.lock {
  overflow: hidden;
}

main {
  margin: 0 15px;
  background-color: #fff;
  z-index: 99;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

.wrapper {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1770px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
  padding: 0 15px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
} 

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin-right: auto;
  cursor: pointer;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
}

.header__list li a {
  position: relative;
  list-style: none;
  margin-right: 80px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  list-style: none;
}

.header__list li a {
  color: #333;
  padding: 4px;
}

.header__list li a::before {
  content: " ";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FF9900;
  transition: .5s all ease;
  transform: scaleX(0);
}

.header__list li a:hover::before {
  cursor: pointer;
  transform: scaleX(1);
}

.header__list li a:focus {
  outline: 2px solid #FF9900;
}

.header__list li a:active {
  color: #E1670E;
}

.header__link {
  cursor: pointer;
  color: #000;
  font-size: 18px;
}

.header__link:active {
  color: #E1670E;
}

.header__search {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: .3s fill stroke ease;
}

.header__search:active {
  outline: 2px solid #FF9900;
}

.header__search svg rect,
.header__search svg path {
  transition: .3s ease;
  transition-property: fill, stroke;
}

.header__search:hover svg rect {
  fill: #FF9900;
}

.header__search:hover svg path {
  stroke: #FF9900;
}

.swiper {
  margin-top: 100px;
  height: 620px;
  width: 100%;
}

.swiper-pagination {
  margin-bottom: 16px;
}

.swiper-pagination-bullet {
	padding: 15px 15px 0 0;
  margin: 0 10px !important;
	background: rgba(255, 255, 255, 0.4) !important;
}

.swiper-pagination-bullet-active {
	color:#fff;
	background: #fff !important;
}

.swiper__container {
  padding: 101px 80px 100px 80px;
}

.hero__title {
  max-width: 840px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.hero__text {
  margin-top: 24px;
  margin-bottom: 90px;
  max-width: 840px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.btn {
  font-family: 'Montserrat';
  padding: 23px 37px 23px 37px;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.3px;
  background-color: #FF9900;
  border: 1px solid #FF9900;
  color: #FFF;
  cursor: pointer;
  transition: .3s background-color ease;
}

.btn:hover {
  border: 1px solid rgba(255, 153, 0, 0.7);
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  border: 1px solid #E1670E;
  background-color: #E1670E;
}

.about {
  margin-top: 100px;
}

.about__info {
  max-width: 1235px;
}

.heading {
  margin-bottom: 18px;
  margin-left: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.about {
  margin-top: 100px;
}

.heading {
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about__bottom {
  display: flex;
}

.about__col {
  display: flex;
  justify-content: space-between;
}

.about__col:first-child {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  margin-right: 32px;
}

.about-services {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-left {
	position: relative;
	width: 49%;
	font-size: 0;
	margin-right: 2%;
}

.services-right {
	width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.article-left__info {
	height: 100%;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
}

.block__man {
  position: relative;
  width: 100%;
  height: 100%;
}

.block__man figure {
	width: 100%;
	height: 100%;
}

.block__man img {
	width: 100%;
	height: 100%;
  object-fit: cover;
}

.block__caption {
	overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.block__name {
  position: relative;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 52px 50px 50px 50px;
}

.block__caption::before, .block__caption::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.block__caption::before {
  transform: scale(1.1);
}

.article-left__info__heading {
	margin-right: 10px;
	max-width: 450px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 31.5px;
	letter-spacing: 0.01px;
	color: #fff;
}

.article__ellipse {
	margin-right: 117px;
	width: 120px;
	height: 120px;
	min-width: 120px;
	min-height: 120px;
	background-color: var(--yellow-color);
	border-radius: 50%;
}

.article__info__title {
  flex-grow: 1;
  white-space: wrap;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.01px;
  text-align: left;
}

.button-trnsp {
	font-size: 16px;
	color: #fff;
	border: 3px solid #FF9900;
	padding: 18px 36px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-trnsp:hover {
  background-color: #FF9900;
}

.button-trnsp:active {
  border: 3px solid #E1670E;
  background-color: #E1670E;
}

.button-trnsp:hover {
	background-color: #FF9900;
	color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-trnsp:active {
	background-color: #ff6f00;
	color: #fff;
}

.services-right__article {
	display: flex;
	align-items: center;
	border: 1px solid #CACACA;
	padding: 63px 90px 64px 60px;
	margin-bottom: 30px;
}

.services-right__article:last-child {
	margin-bottom: 0;
  padding: 55x 120px 64px 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.coube {
	position: relative;
}

.coube::before {
	position: absolute;
	content: "";
	background-image: url("/img/box.svg");
	background-repeat: no-repeat;
	width: 190px;
	height: 165px;
	right: -67px;
  top: -23px;
}

.engine {
	position: relative;
}

.engine::before {
	position: absolute;
	content: "";
	background-image: url("/img/shest.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 190px;
	height: 165px;
	right: -66px;
  top: -22px;
}

.article__info {
	position: relative;
}

.article__info__descr {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--main-color);
}

.article__info__descr span {
	display: block;
	margin-bottom: 6px;
	letter-spacing: 0.01px;
	font-size: 24px;
	font-weight: 700;
}

.about__lead {
  position: relative;
  z-index: 50;
  bottom: 20;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}

.about__btn {
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  border: 3px solid #FF9900;
}

.about__col:last-child {
  display: flex;
  flex-direction: column;
}

.about__row_left:nth-child(2) {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 33.333%;
  background: rgba(0, 0, 0, 0.5);
}

.about__row {
  display: flex;
  flex: 0 0 44%;
  align-items: center;
  justify-content: center;
  border: 1px solid #CACACA;
  padding: 65px;
}

.about__row:not(:last-child) {
  margin-bottom: 32px;
}

.about__desc {
  margin-right: 65px;
}

.about__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.about__subtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.work {
  margin: 100px 0 112px 0;
}

.work__heading {
  margin-bottom: 51px;
  margin-left: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.tabs__list {
  display: flex;
  list-style: none;
}

.tabs__item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333;
  padding: 3px;
}

.tabs__item:not(:last-child) {
  margin-right: 86px;
}

.tabs__item a:hover {
  color: #FF9900;
}

.tabs__item a:focus {
  color: inherit;
  outline: 2px solid #E1670E;
}

.tabs__item a:active {
  color: #E1670E;
  outline: none;
}

.tabs__container {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.tabs__col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 43%;
  margin-right: 8%;
}

.tabs__col:nth-child(2) {
  flex: 0 0 49%;
}

.tabs__col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
}

.work__subtext {
  margin-top: 9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.work__btn_more {
  padding: 20px 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.work__btn_contract {
  margin-left: 28px;
  padding: 20px 37px;
  border: 1px solid #333;
  background-color: #FFF;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.work__btn_contract:hover {
  background-color: #666;
  border: 1px solid #666;
  color: #FFF;
}

.work__btn_contract:active {
  background-color: #000;
  border: 1px solid #000;
  color: #FFF;
}

.faq {
  margin-bottom: 100px;
}

.faq__heading {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 43px;
  margin-left: 0;
}

.faq__line {
  border-top: 1px solid #CACACA;
}

.faq__line:last-child {
  border-bottom: 1px solid #CACACA;
}

.faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.faq__title {
  position: relative;
  padding: 39px 0px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.faq__text {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.faq__text span {
  display: block;
  margin-bottom: 40px;
  max-width: 1003px;
}

.faq__icon svg ellipse,
.faq__icon svg path {
  transition: .3s fill ease;
}

.faq__icon svg:hover ellipse {
  fill: #FF9900;
  transition: .3s fill ease;
}

.faq__icon svg:hover path {
  fill: #FFFFFF;
  transition: .3s fill ease;
}

.faq__icon span {
  background: #333;
}

.footer {
  padding: 50px 15px;
  background-color: #222;
}

.footer__container {
  display: flex;
  max-width: 1770px;
}

.footer__left {
  flex: 0 0 33%;
}

.footer__right {
  margin-top: 88px;
  flex: 0 0 33;
  margin-left: auto;
}

.footer__middle {
  margin-left: 18px;
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.footer__list {
  margin-top: 20px;
  margin-bottom: 90px;
  list-style: none;
  padding: 0;
}

.footer__list li a {
  transition: .3s color ease;
}

.footer__list li a:hover {
  color: #FF9900;
}

.footer__list li a:focus {
  outline: 2px solid #FF9900;
}

.footer__list li a:active {
  color: #E1670E;
}

.footer__link {
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__icon {
  margin-right: 21px;
  cursor: pointer;
}

.footer__icon:not(:last-child) {
  margin-right: 0px;
}

.footer__text {
  max-width: 370px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__heading {
  width: 100%;
  color: #CACACA;
  margin-bottom: 23px;
  margin-left: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__name,
.footer__mail,
.footer__msg {
  margin-bottom: 25px;
  padding: 14px 0px 14px 24px;
  width: 100%;
  max-width: 570px;
  max-height: 150px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  border: none;
  color: #CACACA;
  background: #414141;
  transition: .3s ease;
}

.footer__name:hover,
.footer__mail:hover,
.footer__msg:hover {
  background: #666666
}

.footer__name:focus,
.footer__mail:focus,
.footer__msg:focus {
  outline: none;
  background: #666666;
}

.footer__name:active,
.footer__mail:active,
.footer__msg:active {
  background: #666666;
}


.footer__msg {
  resize: none;
  margin-bottom: 0;
}

.form__input {
  display: flex;
  margin-top: 27px;
}

.footer__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

.footer__btn {
  flex: 0 0 47%;
  padding: 19px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.footer__text {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.checkbox {
  flex: 1 1 45%;
  margin-left: 3%;
  text-align: left;
}

.checkbox label {
  white-space: wrap;
  color: #CACACA;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 0 15px;
  }
  
  .container {
    max-width: 924px;
    margin: 0px auto;
  }

  .header__body {
    height: 100px;
    max-width: 924px;
    margin: 0 auto;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    z-index: 53;
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .header__burger:active {
    outline: 2px solid #FF9900;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: .3s all ease;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 3px;
    top: 10px;
    transition: .3s all ease;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    background-color: #E1670E;
  }

  .header__burger.active::after {
    background-color: #E1670E;
    width: 60%;
  }

  .header__burger.active span {
    width: 80%;
    background-color: #E1670E;
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    top: 0;
    right: -100%;
    height: 100%;
    width: 35%;
    transition: .5s all ease;
    background-color: #fff;
    padding: 35px 10px 20px 10px;
  }

  .header__menu.active {
    right: 0;
    box-shadow: -5px 0 15px 9999px rgb(0 0 0 / 50%);
    z-index: 51;
    transition: .5s all ease;
  }

  .header__logo {
    margin: 0 auto;
    width: 150px;
    height: 48px;
  }

  .header__search {
    z-index: 3;
  }
  
  .header__list {
    display: block;
  }

  .header__list li a {
    margin: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    white-space: nowrap;
  }

  .header__list li:last-child a {
    margin-bottom: 0;
  }

  .swiper {
    margin-top: 100px;
    height: 668px;
    width: 100%;
  }

  .swiper__container {
    padding: 160px 77px;
    max-width: 924px;
    margin: 0 auto;
  }

  .hero__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0em;
    margin-bottom: 16px;
  }

  .hero__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 0px;
    margin-bottom: 61px;
  }

  .hero__btn {
    padding: 24px 37px;
    background-color: #FF9900;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    cursor: pointer;
  }

  .about {
    margin-top: 81px;
  }

  .heading, .about__heading {
    margin-bottom: 9px;
    margin-left: 0;
  }

  .about__text {
    margin-left: -1px;
    margin-bottom: 62px;
  }
  .about__descr {
		margin-bottom: 60px;
		line-height: 32px;
	}

	.services-left, .services-right {
		width: 100%;
	}

	.services-left {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.article-left__info {
    height: 98.4%;
	}

	.block__name {
    padding: 50px 51px 61px 50px;
	}

  .article-left__info__heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

	.services-right__article  {
    flex: 0 0 50%;
		display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 64px 128px 30px 60px;
		margin-bottom: 32px;
	}

  .services-right__article:last-child {
    padding: 63px 156px 63px 80px;
  }

	.article__ellipse  {
		margin-right: 0;
    width: 100%;
    height: 100%;
    flex: 0 0 30%;
	}

  .article__ellipse.coube::before {
    top: 1px;
    left: -20px;
  }

  .article__ellipse.engine::before {
    top: 1px;
    left: -33px;
  }

	.article__info {
    position: relative;
    max-width: 550px;
    flex: 0 0 70%;
	}

  .article__info__descr {
    margin-left: 36px;
    max-width: 480px;
  }

  .article__info__descr:last-child {
    margin-left: 36px;
    max-width: 480px;
  }

	.article__info__descr span{
    line-height: 31px;
    margin-bottom: 8px;
	}

  .about__bottom {
    display: block;
    margin: 0px;
  }

  .about__col:first-child {
    margin-bottom: 32px;
    min-height: 640px;
  }

  .work {
    margin-top: 113px;
    margin-bottom: 78px;
  }

  .work__heading {
    margin-bottom: 49px;
  }

  .work__form {
    margin-right: auto;
    margin-bottom: 40px;
  }

  .tabs__list {
    margin-bottom: 51px;
  }

  .work__desc {
    flex: 0 1 52%;
  }

  .work__info {
    display: flex;
  }
  
  .work__btns {
    display: flex;
  }

  .work__subtext {
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .tabs__col img {
    margin-top: 7px;
  }

  .tabs__col:nth-child(1) {
    flex: 0 0 46%;
  }

  .tabs__col:nth-child(2) {
    flex: 0 0 46%;
  }

  .faq {
    margin-bottom: 80px;
  }

  .faq__heading {
    margin-bottom: 31px;
  }

  .faq__title {
    padding: 39px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .faq__line:nth-child(2n+2) .faq__title {
    max-width: 760px;
    padding: 30px 0;
  }

  footer {
    background: #222;
  }

  .footer__container {
    display: flex;
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 15px;
  }

  .footer__socials,
  .footer__socials svg {
    display: flex;
    margin-top: 18px;
  }

  .footer__left {
    flex: 0 0 34.5%;
    margin-left: 19px;
  }

  .footer__list {
    margin-bottom: 73px;
  }

  .footer__icon {
    margin-right: 25px;
  }

  .footer__middle {
    margin-left: 50px;
    flex: 0 0 56.5%;
  }

  .form__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    padding: 14px 24px 14px 24px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
    max-width: 600px;
  }

  .footer__msg {
    margin-bottom: 0px;
  }

  .footer__input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__btn {
    flex: 0 0 44.5%;
    padding: 19px 37px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }

  .footer__heading {
    margin-bottom: 20px;
  }

  .footer__checkbox {
    margin-left: 18px;
  }

  .footer__right {
    display: none;
  }

  .checkbox {
    margin-left: 4%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 668px;
  }

  .header__body {
    height: 69px;
  }

  .swiper {
    margin-top: 69px;
    height: 668px;
    width: 100%;
  }

  .swiper__container {
    padding: 160px 40px;
    max-width: 924px;
    margin: 0 auto;
  }

  .hero__title {
    max-width: 588px;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
  }

  .hero__text {
    max-width: 588px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  .hero__btn {
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
  }

  .about {
    margin-top: 76px;
  }

  .services-left {
    min-height: 650px;
    max-height: 650px;
    max-width: 668px;
		margin-bottom: 31px;
	}

  .block__man img {
    max-width: 668px;
    height: 650px;
    object-fit: cover;
  }
  
	.block__name {
    padding: 34px 41px 34px 40px;
	}

	.article-left__info {
		height: auto;
	}

	.article-left__info__heading {
		margin-right: 15px;
		max-width: 355px;
		letter-spacing: normal;
	}

	.services-right__article {
    align-items: center;
    justify-content: center;
		padding: 17px 35px;
	}

  .services-right__article:last-child {
		padding: 32px 35px
	}

	.article__ellipse {
    flex: 0 0 25%;
		width: 80px;
		height: 80px;
		min-width: 80px;
		min-height: 80px;
		margin-bottom: 10px;
	}

	.article__ellipse.coube::before {
    background-size: cover;
    width: 114px;
    height: 99px;
    top: -5px;
    left: 0px;
    margin-right: 16px;
	}

	.article__ellipse.engine::before {
    width: 114px;
    height: 99px;
    top: -5px;
    left: 10px;
	}

  .article__info {
    flex: 0 0 80%;
  }

  .article__info__descr:last-child {
    margin-left: 0;
  }

  .work {
    margin-bottom: 80px;
  }

  .tabs__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .tabs__col {
    flex: 1 1 50%;
  }

  .tabs__col:nth-child(1) {
    margin: 0;
  }

  .tabs__col img {
    margin: 0 0 38px 0;
    height: 284px;
  }

  .tabs__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tabs__item:not(:last-child) {
    margin: 0;
  }

  .work__btns {
    display: flex;
  }

  .faq__line:nth-child(1n+2) .faq__title {
    max-width: 570px;
    padding: 30px 0;
}

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 768px;
    margin: 0;
    padding: 0 35px;
  }

  .footer__middle {
    margin-left: 0;
    margin-bottom: 46px;
    justify-content: start;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    max-width: 540px;
  }

  .footer__btn {
    flex: 1 0 19.5%;
  }

  .checkbox {
    margin-left: 3%;
  }

  .footer__checkbox_label {
    font-size: 16px;
  }

  .footer__left {
    margin-left: 0;
    justify-content: start;
  }

  .footer__list {
    display: none;
  }
  
  .footer__socials,
  .footer__socials svg {
    margin-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .header__menu {
    width: 35%;
  }
  .swiper {
    height: 450px;
  }
  .swiper__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
  }

  .hero__text {
    text-align: center;
    margin-bottom: 40px;
  }

  .hero__btn {
    padding: 16px 24px;
  }

  .article__ellipse.coube::before {
    top: 0;
    left: 0;
  }

  .article__ellipse.engine::before {
    top: 0;
    left: 0;
  }

  .engine,
  .coube {
    margin-bottom: 40px;
  }

  .article__info {
    flex: 0 0 50%;
  }

  .article__info__descr {
    margin-left: 10px;
  }

  .services-right__article {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: start;
    padding: 0;
  }

  .services-right__article:last-child {
    padding: 0;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__heading {
    font-size: 38px;
  }

  .footer__btn {
    font-size: 20px;
    padding: 25px 60px;
    margin-bottom: 20px;
  }

  .checkbox label {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 395px;
    margin: 0 auto;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo img {
    width: 110px;
    height: 35px;
  }

  .header__menu {
    width: 50%;
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .5s all ease;
    background-color: #fff;
    padding: 65px 10px 0px 0px;
  }

  .header__menu.active {
    top: 0;
    box-shadow: -5px 0 15px 9999px rgb(0 0 0 / 50%);
    z-index: 51;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    z-index: 53;
  }

  .swiper {
    margin-top: 69px;
    height: 408px;
    width: 100%;
  }

  .swiper__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    max-width: 395px;
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    padding: 10px 10px 0 0;
}

  .hero {
    padding: 0px;
    text-align: center;
  }

  .hero__title {
    max-width: 360px;
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 35px;
    max-width: 360px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
  }

  .hero__btn {
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

	.block__caption::before, .block__caption::after {
		content: none;
	}

	.block__caption {
		position: static;
		margin-top: 20px;
	}

	.block__man {
		height: auto;
	}

  .block__man img {
    max-width: 425px;
    height: 200px;
    object-fit: cover;
  }

	.block__name {
    flex-direction: column;
    align-items: flex-start;
		padding: 0;
	}

  .about {
    margin-top: 60px;
  }

  .about__heading {
    margin-bottom: 20px;
  }

  .about__text {
    margin-left: 0;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }

  .block__caption {
    margin-top: 8px;
  }

  .services-left {
    min-height: 400px;
  }

  .services-right__article {
    flex-direction: column;
  }

	.article-left__info__heading {
		color: #000;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		max-width: 385px;
		margin-right: 0;
		margin-bottom: 11px;
	}

	.button-trnsp {
		color: #FF6F00;
    padding: 11px 42px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    border: 2px solid #FF6F00;
  }

	.services-right__article {
		border: none;
		padding: 0;
    align-self: flex-start;
	}

	.article__ellipse {
    width: 43px;
    height: 43px;
    min-width: 43px;
    min-height: 43px;
		margin-right: 0;
	}

	.article__ellipse.coube::before {
    background-size: cover;
    width: 69px;
    height: 60px;
    top: 0;
    left: 0;
	}

	.article__ellipse.engine::before {
    background-size: cover;
    width: 66px;
    height: 57px;
    top: 0;
    left: 0;
	}

  .engine,
  .coube {
    margin-bottom: 10px;
  }

  .article__info__title {
    white-space: initial;
  }

	.article__info__descr {
		max-width: 395px;
		font-size: 14px;
		line-height: 28px;
	}

  .services-left {
    margin-bottom: 0;
  }

  .services-right__article {
    margin-bottom: 10px;
    padding: 0;
  }

  .services-right__article:last-child {
    margin-top: 22px;
    padding: 0;
  }

	.article__info__descr span {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
	}

  .work {
    margin: 60px 0px;
  }

  .work__form {
    margin: 0;
  }

  .work__heading {
    margin-bottom: 22px;
  }

  .work__form label {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  .work__form label:not(:last-child) {
    margin-right: 22px;
  }

  .work__desc {
    flex: 0 0 20%;
  }

  .work__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .work__subtext {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .work__img {
    margin-top: 16px;
    margin-bottom: 23px;
  }

  .work__img img {
    object-fit: fill;
    max-width: 100%;
    margin: 0 15px 0 0;
    height: auto;
  }

  .work__btns {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }

  .work__btn_more {
    flex: 0 0 55%;
    padding: 11px 34px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-right: 15px;
  }

  .work__btn_contract {
    flex: 0 0 40%;
    padding: 11px 29px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  .tabs__list {
    margin-bottom: 20px;
  }

  .tabs__col img {
    height: 200px;
    margin-bottom: 20px;
  }

  .tabs__container {
    margin-top: 10px;
  }

  .faq {
    margin-bottom: 60px;
  }

  .faq__heading {
    margin-bottom: 17px;
    margin-left: 0;
  }

  .faq__title {
    padding: 30px 0;
    max-width: 290px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .footer {
    padding: 30px 15px;
  }

  .footer__heading {
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 30px;
  }

  .footer__container {
    padding: 0;
  }

  .footer__form {
    align-content: flex-start;
    justify-content: center;
  }

  .footer__middle {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-bottom: 1px solid #595959;
    margin-bottom: 0;
    padding-bottom: 46px;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    flex: 1 1 50%;
    padding: 14px 21px;
    min-height: 60px;
    width: 100%;
    min-width: 150px;
    max-width: 395px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px 0;
  }

  .footer__input {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .footer__btn {
    margin-bottom: 10px;
    padding: 12px 23px;
  }

  .checkbox label {
    display: inline;
    font-size: 5vw;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap;
  }

  .footer__socials svg {
    margin-top: 8px;
  }

  .checkbox {
    margin: 0;
  }

  .footer__left {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 290px;
    margin: 0 auto;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo img {
    width: 110px;
    height: 35px;
  }

  .header__menu {
    width: 50%;
  }

  .header__menu {
    height: 100%;
    width: 100%;
    padding: 75px 10px 20px 0px;
  }

  .hero__text {
    text-align: center;
  }

  .swiper {
    margin-top: 69px;
    height: 308px;
    width: 100%;
  }

  .swiper__container {
    padding: 60px 21px;
    max-width: 320px;
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    padding: 10px 10px 0 0;
}

  .hero {
    padding: 0px;
    text-align: center;
  }

  .hero__title {
    max-width: 247px;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
  }

  .hero__text {
    margin-bottom: 35px;
    max-width: 247px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .services-right__article:last-child {
    margin-top: 17px;
  }

  .article__ellipse.coube {
    margin-bottom: 0;
  }

  .article__ellipse.coube::before {
    background-size: cover;
    width: 69px;
    height: 60px;
    left: -123px;
    top: 6px;
  }

	.article__ellipse.engine::before {
    width: 66px;
    top: 19px;
    left: -123px;
	}

  .work {
    margin-top: 106px;
  }

  .work__heading {
    margin-bottom: 20px;
  }

  .tabs__container {
    margin-top: 0px;
  }

  .tabs__col img {
    margin: 0 0 16px 0;
    height: 160px;
  }
  
  .tabs__list {
    margin-bottom: 15px;
  }

  .tabs__item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .work__subtext {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .work__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
  }

  .work__btn_more {
    padding: 11px 14px;
    flex: 0 1 55%;
    margin: 0;
  }

  .work__btn_contract {
    flex: 0 1 40%;
  }

  .faq {
    margin-bottom: 84px;
  }

  .faq__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .icon__plus {
    width: 30px;
    height: 30px;
  }

  .footer {
    padding: 33px 15px;
  }

  .footer__heading {
    font-size: 24px;
    margin-bottom: 22px;
  }

  .footer__middle {
    padding-bottom: 16px;
  }

  .footer__form {
    align-content: flex-start;
    justify-content: center;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    flex: 1 1 50%;
    padding: 14px 21px;
    min-height: 60px;
    min-width: auto;
    max-width: 290px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 23px 0;
  }

  .footer__input {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  .footer__btn {
    font-size: 12px;
    padding: 9px 28px;
  }

  .checkbox label {
    display: inline;
    font-size: 5vw;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap;
  }

  .footer__icon {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .footer__icon:not(:last-child) {
    margin-right: 20px;
  }

  .footer__socials svg {
    margin-top: 8px;
  }

  .footer__left img {
    width: 131px;
    height: 42px;
  }

  .footer__left {
    flex: 1 1 50%;
  }

  .footer__socials a:nth-child(2) {
    margin: 0 15px;
  }
}