*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  user-select: none;
  min-width: 1770px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  size: 100%;
  vertical-align: top;
}

.wrapper {
  padding: 30px;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1770px;
  margin: 0px auto;
}

header {
  
}

.header__container {
  display: flex;
  align-items: center;
  padding: 14px 75px;
  max-width: 1920px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__nav {
  display: flex;
  max-width: 1920px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__logo {
  margin-right: auto;
  cursor: pointer;
}

.header__right {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 75px;
}

.header__list {
  display: flex;
  margin-left: auto;
}

.header__item {
  margin-right: 85px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333;
}

.header__search {
  cursor: pointer;
}

.section-hero {
  background: url(/img/hero1.jpg) center / cover no-repeat;
  padding: 100px 80px;
}

.section-hero__title {
  width: 837px;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: #fff;
}

.section-hero__text {
  width: 837px;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #FFF;
}

.btn,
.section-hero__btn {
  padding: 25px 37px;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  background-color: #FF9900;
  border: none;
  color: #FFF;
  cursor: pointer;
}
/* About */

.section-about {
  margin-top: 100px;
}

.heading {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.section-about__text {
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.section-about__bottom {
  display: flex;
}

.section-about__col {
  justify-content: space-between;
}

.section-about__col:first-child {
  background: url(/img/worker.jpg) center / cover no-repeat;
  min-width: 868px;
  min-height: 622px;
  margin-right: 32px;
}

.section-about__col:last-child {
  display: flex;
  flex-direction: column;
}

.section-about__row {
  display: flex;
  flex: 0 0 44%;
  align-items: center;
  justify-content: center;
  border: 1px solid #CACACA;
  padding: 65px;
}

.section-about__row:not(:last-child) {
  margin-bottom: 32px;
}

.section-about__icon {
  height: 165px;
  width: 190px;
  left: 60px;
  top: 65px;
  margin-right: 50px;
}

.section-about__desc {
  max-width: 450px;
  margin-right: 65px;
}

.section-about__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.section-about__subtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.section-work {
  margin: 100px 0 200px 0;
}

.section-work__form {
  margin-top: 50px;
  margin-bottom: 45px;
}

.section-work__input {
  display: none;
}

.section-work__input:checked + label {
  color: #FF9900;
}

.section-work__form label {
  display: inline-block;
  cursor: pointer;
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.section-work__form label:not(:last-child) {
  margin-right: 15px;
}

.section-work__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.section-work__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.section-work__subtext {
  margin-bottom: 70px;
  max-width: 750px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.section-work__btn_more {
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.section-work__btn_contract {
  margin-left: 32px;
  padding: 19px 38px;
  border: 1px solid #333;
  background-color: #FFF;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.section-work__info {
  display: flex;
}

.section-work__img {
  max-width: 870px;
  max-height: 1000x;
  margin-left: 142px;
  margin-bottom: 0;
}

.section-faq {
  margin-bottom: 100px;
}

.section-faq__heading {
  margin-bottom: 32px;
}

.section-faq__item {
  border-bottom: 1px solid #CACACA;
}

.section-faq__item:first-child {
  border-top: 1px solid #CACACA;
}

.section-faq__title {
  position: relative;
  padding: 39px 0px;
  cursor: pointer;
}

.section-faq__title::before,
.section-faq__title::after {
  content: '';
  width: 31px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 49px;
  left: 1700px;
  transition: all 300ms ease;
}

.section-faq__title::before {
  transform: rotate(90deg);
}

.section-faq__title::after {
  transform: rotate(0deg);
}

.section-faq__title.active::before,
.section-faq__title.active::after {
  background-color: #FF9900;
}

.section-faq__title.active::before {
  transform: rotate(45deg);
}

.section-faq__title.active::after {
  transform: rotate(-45deg);
}

.section-faq__text {
  display: none;
  max-width: 1000px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  padding: 50px 75px;
  background-color: #222;
}

.footer__list {
  margin-top: 20px;
  margin-bottom: 90px;
  list-style: none;
  padding: 0;
}

.footer__link {
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__icon {
  margin-right: 25px;
  cursor: pointer;
}

.footer__icon:not(:last-child) {
  margin-right: 0px;
}

.footer__text {
  max-width: 363px;
}

.footer__heading {
  color: #CACACA;
  margin-bottom: 30px;
  margin-top: 10px;
}

.footer__name,
.footer__mail,
.footer__msg {
  margin-bottom: 25px;
  padding: 14px 24px;
  height: 60px;
  width: 570px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  border: none;
  color: #CACACA;
  background: #414141;
}

.footer__msg {
  height: 150px;
  resize: none;
  margin-bottom: 0;
}

div .footer__btn {
  display: inline;
  margin-top: 32px;
  padding: 19px 52px;
  background-color: #FF9900;
  text-align: center;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.footer__text {
  margin-top: 90px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__checkbox {
  margin-left: 25px;
  width: 14px;
  height: 14px;
}

.footer__checkbox_label {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__checkbox:checked + .footer__checkbox_label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%2397EE3F' stroke-width='2'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width: 1024px) {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat';
    min-width: 924px;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }

  img {
    vertical-align: top;
  }

  header .header__nav {
    display: none;
  }

  .container {
    max-width: 924px;
    margin: 0px auto;
  }

  .header__container {
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 26px 50px;
    max-width: 1024px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }

  .header__logo {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 48px;
  }

  .burger{
    position: absolute;
    width: 30px;
    height: 23px;
    cursor: pointer;
  }
  .burger span, .burger span:before, .burger span:after{
    width: 30px;
    position: absolute;
    height: 3px;
    background: #333;
    display: block;
    transition: .3s;
  }
  .burger span:before{
    content: "";
    top: -10px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span{
    top: 14px;
  }
  .burger span:after{
    content: "";
    bottom: -10px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .section-hero {
    max-width: 924px;
    padding: 160px 77px;
    background: url(/img/hero1.jpg) center / cover no-repeat;
  }

  .section-hero__title {
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  color: #fff;
  }

  .section-hero__text {
    margin-top: 16px;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }

  .section-hero__btn {
    padding: 24px 37px;
    background-color: #FF9900;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    cursor: pointer;
  }

  .section-about {
    margin-top: 80px;
  }

  .section-about__bottom {
    display: block;
    margin: 0px;
  }

  .section-about__col:first-child {
    margin-bottom: 32px;
    min-width: 924px;
    min-height: 640px;
  }

  .section-work__info {
    display: flex;
  }

  .section-work__subtext {
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .section-work__img {
    margin-left: 50px;
    object-fit: cover;
    max-width: 437px;
    min-height: 700px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    left: 884px;
  }

  footer {
    background: #222;
  }

  .footer__container {
    display: flex;
    max-width: 1024px;
    margin: 0px auto;
    padding: 50px 0px;
  }

  .footer__socials,
  .footer__socials svg {
    display: flex;
    margin-top: 18px;
  }

  .footer__left {
    margin-left: 50px;
  }

  .footer__middle {
    margin-left: 100px;
    margin-right: 20px;
  }

  .footer__checkbox {
    margin-left: 15px;
  }

  .footer__checkbox_label {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    min-width: 370px;
    max-width: 500px;
  }

  .footer__heading {
    width: 500px;
    margin-bottom: 20px;
  }

  .footer__text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 668px;
  }

  .container {
    max-width: 668px;
  }

  .header__container {
    max-width: 768px;
    margin: 0px auto;
    padding: 10px 50px;
    display: flex;
    align-items: center;
  }

  .burger {
    position: absolute;
    top: 19px;
  }

  .section-hero {
    padding: 160px 40px;
  }

  .section-hero__title {
  max-width: 588px;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
  }

  .section-hero__text {
    max-width: 588px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  .section-hero__btn {
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
  }

  .section-about__col:first-child {
    margin-bottom: 32px;
    min-width: 668px;
    min-height: 650px;
  }

  .section-about__row {
    padding: 35px 0px 35px 40px;
  }

  .section-about__icon {
    margin-right: 16px;
    width: 114px;
    height: 99px;
  }

  .section-about__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    max-width: 450px;
    white-space: nowrap;
  }
  
  .section-about__subtext {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    max-width: 450px;
  }

  .section-work {
    margin-bottom: 80px;
  }

  .section-work__info {
    display: block;
    z-index: 22;
  }

  .section-work__info {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-work__form {
    display: flex;
    justify-content: space-between;
  }

  .section-work__img {
    max-width: 668px;
    max-height: 284px;
    object-fit: cover;
    min-height: 0;
    margin-left: 0;
    margin-bottom: 38px;
  }
  
  .section-faq__title {
    max-width: 570px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    left: 628px;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 768px;
    margin: 0;
    padding: 50px;
  }

  .footer__middle {
    margin-left: 0;
    margin-bottom: 50px;
  }

  .footer__left {
    margin-left: 0;
  }

  .footer__list {
    display: none;
  }
  
  .footer__socials,
  .footer__icon {
    margin-top: 0;
  }
}

@media screen and (max-width: 320px){
  body {
    min-width: 290px;
  }

  .container {
    max-width: 290px;
    margin: 0 auto;
  }

  .header__container {
    display: flex;
    padding: 17px 15px; 
    max-width: 320px;
    margin: 0 auto;
  }
  
  .heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  .section-hero {
    padding: 60px 21px;
    text-align: center;
  }

  .section-hero__title {
    max-width: 247px;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
  }

  .section-hero__text {
    margin-bottom: 32px;
    max-width: 247px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .section-hero__btn {
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .section-about__col:first-child {
    background: url(/img/worker.jpg) center / cover no-repeat;
    min-width: 290px;
    min-height: 200px;
    margin-right: 32px;
  }

  .section-about__icon {
    align-self: flex-start;
    width: 64px;
    height: 49px;
  }

  .section-about__desc {
    margin-right: 0;
    max-width: 290px;
  }
  
  .section-about__row {
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 0;
  }
  
  .section-about__subtitle {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    white-space: inherit;
  }

  .section-about__subtext {
    max-width: 290px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 0;
  }

  .section-work {
    margin: 60px 0px;
  }

  .section-work__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .section-work__subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .section-work__img {
    max-width: 290px;
  }

  .section-faq__title {
    max-width: 243px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
  left: 270px;
  }

  .footer__container {
    padding: 0;
  }

  .footer__heading {
    margin-top: 32px;
    max-width: 215px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .footer__btn {
    padding: 12px 23px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
  }

  .footer__checkbox {
    display: inline;
    margin-top: 11px;
    margin-left: 20px;
    margin-right: 0;
  }

  .footer__checkbox_label {
    display: inline;
    font-size: 8px;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    min-width: 200px;
    max-width: 290px;
  }

  .footer__form {
    
  }
}