*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  user-select: none;
  min-width: 1770px;
}

main {
  margin: 0 15px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

.wrapper {
  padding: 30px;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1770px;
}

.header__container {
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
  padding: 14px 67px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__nav {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__logo {
  margin-right: auto;
  cursor: pointer;
}

.header__right {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 75px;
}

.header__list {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.header__item {
  position: relative;
  margin-right: 85px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  list-style: none;
}

.header__search svg {
  cursor: pointer;
  transform: translateY(2px);
}

.header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333;
}

.section-hero {
  background: url(/img/hero1.jpg) center / cover no-repeat;
  padding: 101px 80px 100px 80px;
}

.section-hero__info {
  max-width: 840px;
}

.section-hero__title {
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: #fff;
}

.section-hero__text {
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #FFF;
}

.btn,
.section-hero__btn {
  padding: 25px 37px 24px 37px;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.3px;
  background-color: #FF9900;
  border: none;
  color: #FFF;
  cursor: pointer;
}
/* About */

.section-about {
  margin-top: 100px;
}

.heading {
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.section-about__text {
  max-width: 1235px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.section-about__bottom {
  display: flex;
}

.section-about__col {
  display: flex;
  justify-content: space-between;
}

.section-about__col:first-child {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  margin-right: 32px;
}

.about-services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-left {
	position: relative;
	width: 49%;
	font-size: 0;
	margin-right: 2%;
}

.services-right {
	width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.article-left__info {
	height: 100%;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
}

.block__man {
  position: relative;
  width: 100%;
  height: 100%;
}

.block__man figure {
	width: 100%;
	height: 100%;
}

.block__man img {
	width: 100%;
	height: 100%;
}

.block__caption {
	overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.block__name {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 52px 50px 50px 50px;
}


.block__caption::before, .block__caption::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.block__caption::before {
  transform: scale(1.1);
}

.block__caption::before,
.block__caption::after {
	background-image: url('../img/about-bg.jpg');
}

.article-left__info__heading {
	margin-right: 10px;
	max-width: 450px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 31.5px;
	letter-spacing: 0.01px;
	color: #fff;
}

.article__ellipse {
	margin-right: 117px;
	width: 120px;
	height: 120px;
	min-width: 120px;
	min-height: 120px;
	background-color: var(--yellow-color);
	border-radius: 50%;
}

.article__info__title {
  white-space: nowrap;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.01px;
  text-align: left;
}

.button-trnsp {
	font-size: 16px;
	color: #fff;
	border: 3px solid #FF9900;
	padding: 18px 36px;
	-webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-trnsp:hover {
	background-color: #FF9900;
	color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-trnsp:active {
	background-color: #ff6f00;
	color: #fff;
}

.services-right__article {
	display: flex;
	align-items: center;
	border: 1px solid #CACACA;
	padding: 63px 60px 64px 60px;
	margin-bottom: 30px;
}

.services-right__article:last-child {
	margin-bottom: 0;
  padding: 55x 120px 64px 60px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.coube {
	position: relative;
}

.coube::before {
	position: absolute;
	content: "";
	background-image: url("/img/box.svg");
	background-repeat: no-repeat;
	width: 190px;
	height: 165px;
	right: -67px;
  top: -23px;
}

.engine {
	position: relative;
}

.engine::before {
	position: absolute;
	content: "";
	background-image: url("/img/shest.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 190px;
	height: 165px;
	right: -66px;
  top: -22px;
}

.article__info {
	position: relative;
	max-width: 450px;
}

.article__info__descr {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--main-color);
}

.article__info__descr span {
	display: block;
	margin-bottom: 6px;
	letter-spacing: 0.01px;
	font-size: 24px;
	font-weight: 700;
}


.section-about__lead {
  position: relative;
  z-index: 50;
  bottom: 20;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}

.section-about__btn {
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  border: 3px solid #FF9900;
}

.section-about__col:last-child {
  display: flex;
  flex-direction: column;
}

.section-about__row_left:nth-child(2) {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 33.333%;
  background: rgba(0, 0, 0, 0.5);
}

.section-about__row {
  display: flex;
  flex: 0 0 44%;
  align-items: center;
  justify-content: center;
  border: 1px solid #CACACA;
  padding: 65px;
}

.section-about__row:not(:last-child) {
  margin-bottom: 32px;
}

.section-about__icon {
  left: 60px;
  top: 65px;
  margin-right: 50px;
}

.section-about__desc {
  margin-right: 65px;
}

.section-about__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.section-about__subtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.section-work {
  margin: 100px 0 100px 0;
}

.section-work__heading {
  margin-bottom: 18px;
  margin-left: 0;
}

.section-work__form {
  margin-top: 33px;
  margin-bottom: 36px;
  line-height: 58px;
}

.section-work__input {
  display: none;
}

.section-work__input:checked + label {
  color: #FF9900;
}

.section-work__form label {
  display: inline-block;
  cursor: pointer;
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.section-work__form label:not(:last-child) {
  margin-right: 82px;
}

.section-work__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.section-work__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: -9px
}

.section-work__subtext {
  margin-top: 9px;
  margin-bottom: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.section-work__btn_more {
  padding: 20px 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.section-work__btn_contract {
  margin-left: 28px;
  padding: 19px 36px;
  border: 1px solid #333;
  background-color: #FFF;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.section-work__info {
  display: flex;
  justify-content: space-between;
  
}

.section-work__desc {
  flex: 0 0 44%;
}

.section-work__img {
  flex: 0 1 49%;
}

.section-work__img img {
  max-width: 870px;
}

.section-faq {
  margin-bottom: 100px;
}

.section-faq__heading {
  margin-bottom: 43px;
  margin-left: 0;
}

.section-faq__item {
  border-bottom: 1px solid #CACACA;
}

.section-faq__item:first-child {
  border-top: 1px solid #CACACA;
}

.section-faq__title {
  position: relative;
  padding: 39px 0px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.section-faq__title::before,
.section-faq__title::after {
  content: '';
  width: 31px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 54px;
  right: 9px;
  transition: all 300ms ease;
}

.section-faq__title::before {
  transform: rotate(90deg);
}

.section-faq__title::after {
  transform: rotate(0deg);
}

.section-faq__title.active::before,
.section-faq__title.active::after {
  background-color: #FF9900;
}

.section-faq__title.active::before {
  transform: rotate(45deg);
}

.section-faq__title.active::after {
  transform: rotate(-45deg);
}

.section-faq__text {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__container {
  display: flex;
  max-width: 1920px;
  padding: 50px 66px;
  background-color: #222;
}

.footer__left {
  flex: 0 0 33%;
}

.footer__right {
  margin-top: 88px;
  flex: 0 0 33;
  margin-left: 220px;
}

.footer__middle {
  margin-left: 2px;
  flex: 0 0 34%;
  display: flex;
  justify-content: center;
}

.footer__list {
  margin-top: 20px;
  margin-bottom: 90px;
  list-style: none;
  padding: 0;
}

.footer__link {
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__icon {
  margin-right: 21px;
  cursor: pointer;
}

.footer__icon:not(:last-child) {
  margin-right: 0px;
}

.footer__text {
  max-width: 370px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__heading {
  color: #CACACA;
  margin-bottom: 25px;
  margin-left: 0;
}

.footer__name,
.footer__mail,
.footer__msg {
  margin-bottom: 25px;
  padding: 14px 24px;
  width: 100%;
  max-height: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  border: none;
  color: #CACACA;
  background: #414141;
}

.footer__msg {
  resize: none;
  margin-bottom: 0;
}

.footer__btn {
  display: inline;
  margin-top: 27px;
  padding: 19px 53px;
  background-color: #FF9900;
  text-align: center;
  color: #FFF;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__checkbox {
  margin-left: 4px;
  width: 14px;
  height: 14px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__checkbox_label {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__checkbox:checked + .footer__checkbox_label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%2397EE3F' stroke-width='2'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width: 1024px) {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat';
    min-width: 924px;
    margin: 0 auto;
  }

  main {
    margin: 0 15px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }

  img {
    vertical-align: top;
  }

  .header__nav{
    display: none;
  }

  .container {
    max-width: 924px;
    margin: 0px auto;
  }

  .header__container {
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 26px 50px;
    max-width: 1024px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }

  .header__logo {
    margin: 0 auto;
    width: 150px;
    height: 48px;
  }

  .burger {
    flex: 0 0 50%;
    display: block;
    position: absolute;
    width: 30px;
    height: 23px;
    cursor: pointer;
    top: 34px;
  }

  .burger span, .burger span:before, .burger span:after{
    width: 30px;
    position: absolute;
    height: 3px;
    background: #333;
    display: block;
    transition: .3s;
  }

  .burger span:before{
    content: "";
    top: -10px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger span{
    top: 14px;
  }

  .burger span:after{
    content: "";
    bottom: -10px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .section-hero {
    padding: 160px 77px;
    background: url(/img/hero1.jpg) center / cover no-repeat;
  }

  .section-hero__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0em;
    margin-bottom: 16px;
  }

  .section-hero__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 61px;
  }

  .section-hero__btn {
    padding: 24px 37px;
    background-color: #FF9900;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    cursor: pointer;
  }

  .section-about {
    margin-top: 81px;
  }

  .heading, .section-about__heading {
    margin-bottom: 9px;
    margin-left: 0;
  }

  .section-about__text {
    margin-left: -1px;
    margin-bottom: 62px;
  }
  .about__descr {
		margin-bottom: 60px;
		line-height: 32px;
	}

	.services-left, .services-right {
		width: 100%;
	}

	.services-left {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.article-left__info {
    height: 98.4%;
	}

	.block__name {
    padding: 50px 51px 61px 50px;
	}

  .article-left__info__heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

	.services-right__article  {
		display: flex;
    align-items: center;
    justify-content: space-between;
		margin-bottom: 32px;
		padding: 63px 156px 63px 112px;
	}

  .services-right__article:last-child {
    padding: 63px 156px 63px 80px;
  }

	.article__ellipse  {
		margin-right: 0;
	}

  .article__ellipse.coube::before {
    top: -23px;
    left: -35px;
  }

	.article__info {
    position: relative;
    max-width: 493px;
	}

  .article__info__descr {
    max-width: 450px;
  }
	.article__info__descr span{
    line-height: 31px;
    margin-bottom: 8px;
	}

  .section-about__bottom {
    display: block;
    margin: 0px;
  }

  .section-about__col:first-child {
    margin-bottom: 32px;
    min-width: 924px;
    min-height: 640px;
  }

  .section-work {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .section-work__form {
    margin-right: auto;
    margin-bottom: 40px;
  }

  .section-work__subtitle {
    margin-top: -8px;
  }

  .section-work__desc {
    flex: 0 1 52%;
  }

  .section-work__info {
    display: flex;
  }

  .section-work__subtext {
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .section-work__img {
    flex: 1 1 50%;
    max-width: 437px;
  }

  .section-work__img img {
    max-width: 437px;
    margin: 0 15px 0 0;
    object-fit: cover;
    height: 100%;
  }

  .section-faq {
    margin-bottom: 80px;
  }

  .section-faq__heading {
    margin-bottom: 31px;
  }

  .section-faq__title {
    padding: 39px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .section-faq__item:nth-child(2) .section-faq__title {
    padding: 30px 0;
    max-width: 700px;
  }

  .section-faq__item:nth-child(2) .section-faq__title::before,
  .section-faq__item:nth-child(2) .section-faq__title::after {
    top: 61px;
  }

  
  .section-faq__item:nth-child(4) .section-faq__title {
    padding: 30px 0;
    max-width: 800px;
  }

  .section-faq__item:nth-child(4) .section-faq__title::before,
  .section-faq__item:nth-child(4) .section-faq__title::after {
    top: 61px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    left: 854px;
  }

  footer {
    background: #222;
  }

  .footer__container {
    display: flex;
    max-width: 1024px;
    margin: 0px auto;
    padding: 50px 15px;
  }

  .footer__socials,
  .footer__socials svg {
    display: flex;
    margin-top: 18px;
  }

  .footer__left {
    margin-left: 49px;
  }

  .footer__list {
    margin-bottom: 73px;
  }

  .footer__icon {
    margin-right: 25px;
  }

  .footer__middle {
    margin-left: 46px;
    flex: 1 0 33.333%;
  }

  .form__input {
    display: flex;
  }

  .checkbox__ {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__checkbox_label {
    display: inline;
    align-items: center;
    font-size: 1.8vw;
    font-weight: 400;
    line-height: 32px;
    margin-left: 5px;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
    width: 100%;
  }

  .footer__btn {
    margin-top: 7px;
    padding: 19px 37px;
  }

  .footer__heading {
    width: 500px;
    margin-bottom: 20px;
  }

  .footer__checkbox {
    margin-left: 18px;
  }

  .footer__right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 668px;
  }

  .container {
    max-width: 668px;
  }

  .header__container {
    max-width: 768px;
    margin: 0px auto;
    padding: 10px 50px;
    display: flex;
    align-items: center;
  }

  .burger {
    position: absolute;
    top: 17px;
  }

  .header__logo {
    margin: 0 auto;
  }

  .section-hero {
    padding: 160px 40px;
  }

  .section-hero__title {
    max-width: 588px;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
  }

  .section-hero__text {
    max-width: 588px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  .section-hero__btn {
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
  }

  .services-left {
    min-height: 650px;
    max-height: 650px;
    max-width: 668px;
		margin-bottom: 31px;
	}

  .block__man img {
    max-width: 668px;
    height: 650px;
    object-fit: cover;
  }
  
	.block__name {
    padding: 34px 41px 34px 40px;
	}

	.article-left__info {
		height: auto;
	}

	.article-left__info__heading {
		margin-right: 15px;
		max-width: 355px;
		letter-spacing: normal;
	}

	.services-right__article {
		padding: 33px 47px 34px 39px;
	}

  .services-right__article:last-child {
    padding: 45px 30px 45px 30px;;
  }

  .services-right__article:last-child {
		padding: 32px 47px 33px 31px
	}

	.article__ellipse {
		width: 80px;
		height: 80px;
		min-width: 80px;
		min-height: 80px;
		margin-right: 50px;
		margin-bottom: 10px;
	}

	.article__ellipse.coube::before {
    background-size: cover;
    width: 114px;
    height: 99px;
    left: 0px;
    top: -5px;
	}

	.article__ellipse.engine::before {
    width: 114px;
    height: 99px;
    right: -42px;
    top: -5px;
	}

  .section-about__col:first-child {
    margin-bottom: 32px;
    min-width: 668px;
    min-height: 650px;
  }

  .section-about__row_left:nth-child(2) {
    flex: 0 0 20%;
    padding: 34px 40px;
  }

  .section-about__lead {
    flex: 0 0 62%;
  }

  .section-about__row {
    padding: 35px 0px 35px 40px;
  }

  .section-about__icon {
    margin-right: 16px;
    width: 114px;
    height: 99px;
  }

  .section-about__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    max-width: 450px;
    white-space: nowrap;
  }
  
  .section-about__subtext {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    max-width: 450px;
  }

  .section-work {
    margin-bottom: 80px;
  }

  .section-work__info {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-work__desc {
    flex: 1 1 50%;
  }

  .section-work__img {
    flex: 1 1 50%;
    margin: 0 0 47px 0;
  }

  .section-work__img img {
    object-fit: cover;
    max-width: 638px;
    margin: 0 15px 0 0;
  }

  .section-work__form {
    margin-top: 49px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .section-faq__title {
    max-width: 570px;
  }

  .section-faq__item:nth-child(1n+2) .section-faq__title {
    padding: 30px 0;
    max-width: 600px;
  }

  .section-faq__item:nth-child(1n+2) .section-faq__title::before,
  .section-faq__item:nth-child(1n+2) .section-faq__title::after {
    top: 61px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    left: 884px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    left: 607px;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 768px;
    margin: 0;
    padding: 50px;
  }

  .footer__middle {
    margin-left: 0;
    margin-bottom: 50px;
    justify-content: start;
  }

  .footer__checkbox_label {
    font-size: 16px;
  }

  .footer__left {
    margin-left: 0;
    justify-content: start;
  }

  .footer__list {
    display: none;
  }
  
  .footer__socials,
  .footer__icon {
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  body {
    min-width: 395px;
    margin: 0 auto;
  }

  .container {
    max-width: 395px;
    margin: 0 auto;
  }

  .header__container {
    display: flex;
    padding: 17px 15px; 
    max-width: 425px;
    margin: 0 auto;
  }

  .header__logo {
    width: 110px;
    height: 35px;
    margin: 0 auto;
  }

  .header__search {
    align-self: end;
  }
  
  .heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  .burger {
    top: 19px;
  }

  .header__search svg {
    transform: translateY(-2px);
  }

  .section-hero {
    padding: 25px 10px;
    text-align: center;
  }

  .section-hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-hero__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 800;
    line-height: 24px;
  }

  .section-hero__text {
    margin-bottom: 35px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
  }

  .section-hero__btn {
    padding: 17px 45px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 30px;
  }

  .about__descr {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 28px;
		max-width: none;
	}

	.block__caption::before, .block__caption::after {
		content: none;
	}

	.block__caption {
		position: static;
		margin-top: 20px;
	}

	.block__man {
		height: auto;
	}

  .block__man img {
    max-width: 425px;
    height: 200px;
    object-fit: cover;
  }

	.block__name {
    flex-direction: column;
    align-items: flex-start;
		padding: 0;
	}

  .section-about {
    margin-top: 60px;
  }

  .section-about__heading {
    margin-bottom: 20px;
  }

  .section-about__text {
    margin-left: 0;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }

  .block__caption {
    margin-top: 8px;
  }

  .services-left {
    min-height: 400px;
  }

  .services-right__article {
    flex-direction: column;
  }

	.article-left__info__heading {
		color: #000;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		max-width: 385px;
		margin-right: 0;
		margin-bottom: 11px;
	}

	.button-trnsp {
		color: #FF6F00;
    padding: 11px 42px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    border: 2px solid #FF6F00;
  }

	.services-right__article {
		border: none;
		padding: 0;
    align-self: flex-start;
	}

	.article__ellipse {
    width: 43px;
    height: 43px;
    min-width: 43px;
    min-height: 43px;
		margin-right: 0;
	}

	.article__ellipse.coube::before {
    background-size: cover;
    width: 69px;
    height: 60px;
    left: -119px;
    top: -10px;
	}

	.article__ellipse.engine::before {
    background-size: cover;
    width: 64px;
    height: 57px;
    right: 98px;
    top: -7px;
	}

  .article__info__title {
    white-space: initial;
  }

	.article__info__descr {
		max-width: 395px;
		font-size: 14px;
		line-height: 28px;
	}

  .services-left {
    margin-bottom: 0;
  }

  .services-right__article {
    margin-bottom: 10px;
    padding: 0;
  }

  .services-right__article:last-child {
    margin-top: 22px;
    padding: 0;
  }

	.article__info__descr span {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
	}

  .section-work {
    margin: 60px 0px;
  }

  .section-work__form {
    margin: 0;
  }

  .section-work__heading {
    margin-bottom: 22px;
  }

  .section-work__form label {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  .section-work__form label:not(:last-child) {
    margin-right: 22px;
  }

  .section-work__desc {
    flex: 0 0 20%;
  }

  .section-work__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .section-work__subtext {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .section-work__img {
    margin-top: 16px;
    margin-bottom: 23px;
  }

  .section-work__img img {
    object-fit: fill;
    max-width: 100%;
    margin: 0 15px 0 0;
    height: auto;
  }

  .section-work__btns {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }

  .section-work__btn_more {
    flex: 0 0 55%;
    padding: 11px 34px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-right: 15px;
  }

  .section-work__btn_contract {
    flex: 0 0 40%;
    padding: 11px 29px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  .section-faq {
    margin-bottom: 60px;
  }

  .section-faq__heading {
    margin-bottom: 17px;
    margin-left: 0;
  }

  .section-faq__title {
    padding: 30px 0;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    width: 19px;
    top: 53px;
    left: 342px;
  }

  .section-faq__item:nth-child(n+2):nth-child(-n+4) .section-faq__title {
    max-width: 320px;
  }

  .section-faq__item:nth-child(n+2):nth-child(-n+4) .section-faq__title::before,
  .section-faq__item:nth-child(n+2):nth-child(-n+4) .section-faq__title::after {
    top: 53px;
  }

  .section-faq__item:nth-child(5) .section-faq__title {
    max-width: 320px;
  }

  .section-faq__item:nth-child(5) .section-faq__title::before,
  .section-faq__item:nth-child(5) .section-faq__title::after {
    top: 53px;
  }


  .footer__container {
    max-width: 395px;
    margin-left: 15px;
    padding: 0;
    padding-bottom: 30px;
  }

  .footer__heading {
    margin: 32px auto 16px -1px;
    max-width: 215px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #595959;
  }

  .footer__btn {
    align-self: center;
    margin-top: 2px;
    padding: 17px 38px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
  }

  .footer__form span {
    margin-top: 12px;
    margin-left: -6px;
    padding-bottom: 15px;
  }

  .form__input {
    flex-direction: column;
  }

  .checkbox__ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .footer__checkbox {
    display: inline;
    padding: 7px 0 8px 0px;
  }

  .footer__checkbox_label {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    padding: 14px 21px;
    min-height: 50px;
    min-width: 350px;
    max-width: 380px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__left img {
    width: 131px;
    height: 42px;
  }

  .footer__middle {
    margin-bottom: 16px;
  }

  .footer__socials {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .footer__socials svg {
    margin-top: 16px;
    margin-right: 16px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 320px) {
  body {
    min-width: 290px;
    margin: 0 auto;
  }

  .container {
    max-width: 290px;
    margin: 0 auto;
  }

  .header__container {
    display: flex;
    padding: 17px 15px; 
    max-width: 320px;
    margin: 0 auto;
  }

  .header__logo {
    width: 110px;
    height: 35px;
    margin-left: 45px;
  }

  .section-hero {
    padding: 60px 21px;
    text-align: center;
  }

  .section-hero__title {
    max-width: 247px;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
  }

  .section-hero__text {
    margin-bottom: 35px;
    max-width: 247px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .section-hero__btn {
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .about__descr {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 28px;
		max-width: none;
	}

	.block__caption {
		position: static;
		margin-top: 20px;
  }

	.article__ellipse.engine::before {
    width: 66px;
    top: -7px;
	}

  .services-right__article {
    margin-top: 30px;
  }
  
  .section-work__img {
    margin-top: 16px;
    margin-bottom: 23px;
  }

  .section-work__img img {
    object-fit: contain;
    max-width: 100%;
    margin: 0 15px 0 0;
  }

  .section-faq__title::before,
  .section-faq__title::after {
    width: 19px;
    top: 53px;
    left: 250px;
  }

  .section-faq__item:nth-child(n+2):nth-child(-n+4) .section-faq__title {
    padding: 30px 0;
    max-width: 235px;
  }

  .section-faq__item:nth-child(n+2):nth-child(-n+4) .section-faq__title::before,
  .section-faq__item:nth-child(n+2):nth-child(-n+4) .section-faq__title::after {
    top: 65px;
  }

  .section-faq__item:nth-child(5) .section-faq__title {
    max-width: 260px;
  }

  .section-faq__item:nth-child(5) .section-faq__title::before,
  .section-faq__item:nth-child(5) .section-faq__title::after {
    top: 53px;
  }

  .footer__name,
  .footer__mail,
  .footer__msg {
    padding: 14px 21px;
    min-height: 50px;
    min-width: 266px;
    max-width: 290px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 10px 0;
  }
}
